<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Success</title>
  </head>
  <body>
    <% if(message) { %>
      <h1><%= message %></h1>
    <% } %>
    <a href="/">Click here to go to homepage</a>
  </body>
</html>
